<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">QuizApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fussball/matchindex" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Matches
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fussball/indexliga" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ligen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fussball/indexspieltag" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Spieltage
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fussball/indexverein" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Vereine
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tabelle" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Tabelle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="spieltagcreate" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Spieltage Create
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=" /fussball/matchspieltag" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Spieltage Zuweisung
            </NavLink>
        </li>
       
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allowsdrag">
                <span class="oi oi-list-rich" aria-hidden="true"></span> allow drags
            </NavLink>
          </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Flex
            </NavLink>
        </li>*@

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
