@page "/spieltag/create"

@inject ISpieltagService service
@inject ILigaService service3
@inject NavigationManager navManager

<h3> Create Spieltag </h3>

<EditForm Model="spieltag">

    @*@if (ShowAlert)
            {
        <div class="alert alert-warning" role="alert">
            Check if you picked the right Saison to the Date
        </div>}
            @if (ShowAlert2)
            {
        <div class="alert alert-warning" role="alert">
            Der Spieltag muss zwischen 1 und 34 sein.
        </div>}*@


    <div class="row">
        
            <div class="form-group">


            </div>
            <div class="col-4">
                <label> Saison: </label>
                <InputSelect class="form-control" id="sel1" @bind-Value="saisonstring">
                    <option>21/22</option>
                    <option>20/21</option>
                    <option>19/20</option>
                    <option>18/19</option>
                </InputSelect>
            </div>
            <div col-4>
                <label> Liga: </label>
                <InputSelect class="form-control" id="sel1" @bind-Value="ligastring">
                    @foreach (var item in ligen)
                    {
        <option value="@item.LigaGuid">@item.LigaName</option>}

                </InputSelect>
            </div>
            <div class="form-group updidup">
                <button type="button" class="btn btn-primary" @onclick="Save">Save Spieltag</button>
            </div>
      
    </div>

</EditForm>


@code { 
    Spieltag spieltag = new Spieltag();
    List<Liga> ligen = new List<Liga>();
    string ligastring;
    string saisonstring;
    protected override async Task OnInitializedAsync()
    {
       

        saisonstring = "21/22";

        ligen = await service3.GetAllAsync();

        ligastring = ligen.First().LigaGuid.ToString();
    }

    //bool ShowAlert = false;
    //bool ShowAlert2 = false;

    async void Save()
    {

        spieltag.Season = saisonstring;
        await service.AddAsync(spieltag);
        navManager.NavigateTo("fussball/indexspieltag");
    } }

<style>
    .updidup {
        margin-top: 24px;
    }
</style>
