@page "/verein/create/{VereinsID}"

@inject IVereinService service
@inject ILigaService service2
@inject NavigationManager navManager

<h3> Create Verein </h3>

<EditForm Model="verein">

    @*@if (ShowAlert)
            {
        <div class="alert alert-warning" role="alert">
            Check if you picked the right Saison to the Date
        </div>}
            @if (ShowAlert2)
            {
        <div class="alert alert-warning" role="alert">
            Der Spieltag muss zwischen 1 und 34 sein.
        </div>}*@


    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label> Verein: </label>
                <InputText disabled @bind-Value="verein.VereinName" class="form-control" />
                <InputSelect disabled class="form-control topdi" id="sel1" @bind-Value="ligastring">
                    @foreach (var item in Ligen)
                    {
<option value="@item.LigaGuid">@item.LigaName</option>}

                </InputSelect>
            </div>
            <InputSelect @bind-Value="verein.active">
                <option value="true">Aktiv</option>
                <option value="false">Deaktiviert</option>
            </InputSelect>
            <div class="form-group topdi">
                <button type="button" class="btn btn-primary" @onclick="Save">Save Verein</button>
            </div>
        </div>
    </div>

</EditForm>


@code {
    string ligastring;

    [Parameter]
    public string VereinsID { get; set; }
    Verein verein = new Verein();
    List<Liga> Ligen = new List<Liga>();
   
    //bool ShowAlert = false;
    //bool ShowAlert2 = false;
    protected override async Task OnInitializedAsync()
    {
        Guid vereinsguid = new Guid(VereinsID);
        verein = await service.GetAsync(vereinsguid);

        Ligen = await service2.GetAllAsync();
        Liga liga = new Liga();
        liga = Ligen.First();
        ligastring = verein.LigaGuid.ToString();
    }
    async void Save()
    {
        Guid ligaguid = new Guid(ligastring);
        verein.LigaGuid = ligaguid;
        await service.UpdateAsync(verein);
        navManager.NavigateTo("fussball/indexverein");
    } }

<style>
    .topdi {
        margin-top: 24px;
    }
</style>